@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Medium.eot');
    src: local('RNS Miles Medium'), local('RNSMiles-Medium'),
        url('RNSMiles-Medium.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Medium.woff2') format('woff2'),
        url('RNSMiles-Medium.woff') format('woff'),
        url('RNSMiles-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-BlackItalic.eot');
    src: local('RNS Miles Black Italic'), local('RNSMiles-BlackItalic'),
        url('RNSMiles-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-BlackItalic.woff2') format('woff2'),
        url('RNSMiles-BlackItalic.woff') format('woff'),
        url('RNSMiles-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-RegularItalic.eot');
    src: local('RNS Miles Regular Italic'), local('RNSMiles-RegularItalic'),
        url('RNSMiles-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-RegularItalic.woff2') format('woff2'),
        url('RNSMiles-RegularItalic.woff') format('woff'),
        url('RNSMiles-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-LightItalic.eot');
    src: local('RNS Miles Light Italic'), local('RNSMiles-LightItalic'),
        url('RNSMiles-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-LightItalic.woff2') format('woff2'),
        url('RNSMiles-LightItalic.woff') format('woff'),
        url('RNSMiles-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-ThinItalic.eot');
    src: local('RNS Miles Thin Italic'), local('RNSMiles-ThinItalic'),
        url('RNSMiles-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-ThinItalic.woff2') format('woff2'),
        url('RNSMiles-ThinItalic.woff') format('woff'),
        url('RNSMiles-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-MediumItalic.eot');
    src: local('RNS Miles Medium Italic'), local('RNSMiles-MediumItalic'),
        url('RNSMiles-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-MediumItalic.woff2') format('woff2'),
        url('RNSMiles-MediumItalic.woff') format('woff'),
        url('RNSMiles-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles XBold';
    src: url('RNSMiles-XBoldItalic.eot');
    src: local('RNS Miles XBold Italic'), local('RNSMiles-XBoldItalic'),
        url('RNSMiles-XBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-XBoldItalic.woff2') format('woff2'),
        url('RNSMiles-XBoldItalic.woff') format('woff'),
        url('RNSMiles-XBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-BoldItalic.eot');
    src: local('RNS Miles Bold Italic'), local('RNSMiles-BoldItalic'),
        url('RNSMiles-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-BoldItalic.woff2') format('woff2'),
        url('RNSMiles-BoldItalic.woff') format('woff'),
        url('RNSMiles-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Bold.eot');
    src: local('RNS Miles Bold'), local('RNSMiles-Bold'),
        url('RNSMiles-Bold.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Bold.woff2') format('woff2'),
        url('RNSMiles-Bold.woff') format('woff'),
        url('RNSMiles-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Regular.eot');
    src: local('RNS Miles Regular'), local('RNSMiles-Regular'),
        url('RNSMiles-Regular.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Regular.woff2') format('woff2'),
        url('RNSMiles-Regular.woff') format('woff'),
        url('RNSMiles-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Light.eot');
    src: local('RNS Miles Light'), local('RNSMiles-Light'),
        url('RNSMiles-Light.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Light.woff2') format('woff2'),
        url('RNSMiles-Light.woff') format('woff'),
        url('RNSMiles-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles XBold';
    src: url('RNSMiles-XBold.eot');
    src: local('RNS Miles XBold'), local('RNSMiles-XBold'),
        url('RNSMiles-XBold.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-XBold.woff2') format('woff2'),
        url('RNSMiles-XBold.woff') format('woff'),
        url('RNSMiles-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Black.eot');
    src: local('RNS Miles Black'), local('RNSMiles-Black'),
        url('RNSMiles-Black.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Black.woff2') format('woff2'),
        url('RNSMiles-Black.woff') format('woff'),
        url('RNSMiles-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RNS Miles';
    src: url('RNSMiles-Thin.eot');
    src: local('RNS Miles Thin'), local('RNSMiles-Thin'),
        url('RNSMiles-Thin.eot?#iefix') format('embedded-opentype'),
        url('RNSMiles-Thin.woff2') format('woff2'),
        url('RNSMiles-Thin.woff') format('woff'),
        url('RNSMiles-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

